<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="page-wrapper font-poppins mt-2">
      <div class="wrapper wrapper--w780">
        <div class="card card-3">
          <div class="card-body bg-tercero">
            <h2 class="title">Mis datos</h2>
            <ng-container *ngIf="!loading; else load">
              <form (ngSubmit)="onSubmit(f)" [formGroup]="f" autocomplete="on">
                <!--Nombre-->
                <div class="input-group mb-3">
                  <label for="">Nombre completo</label>
                  <input
                    type="text"
                    class="input--style-3"
                    placeholder="Nombre completo"
                    formControlName="name"
                    required
                    maxlength="50"
                    [ngClass]="{
                      'is-invalid':
                        invalidField('name') ||
                        (f.controls.name.invalid &&
                          f.controls.name.errors?.maxlength) ||
                        (f.controls.name.invalid &&
                          f.controls.name.errors?.pattern)
                    }"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('name') && f.controls.name.errors?.required
                    "
                  >
                    Por favor ingrese su nombre
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.name.errors?.pattern"
                  >
                    Se encontraron caracteres invalidos
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.name.errors?.maxlength"
                  >
                    El nombre no puede tener mas de 50 caracteres
                  </span>
                </div>
                <!--Tipo de documento-->
                <div class="input-group mb-3">
                  <div class="grid">
                    <div class="row">
                      <label for="">Tipo de documento</label>
                    </div>
                    <div class="row">
                      <p class="text-white">{{ document_type.value }}</p>
                    </div>
                  </div>
                </div>
                <!--Numero de documento-->
                <div class="input-group mb-3">
                  <div class="grid">
                    <div class="row">
                      <label for="">Número de documento</label>
                    </div>
                    <div class="row">
                      <p class="text-white">{{ document_value.value }}</p>
                    </div>
                  </div>
                </div>
                <!--Correo-->
                <div class="input-group mb-3">
                  <div class="grid">
                    <div class="row">
                      <label for="">Correo electronico</label>
                    </div>
                    <div class="row">
                      <p class="text-white">{{ email.value }}</p>
                    </div>
                  </div>
                </div>
                <!--Celular-->
                <div class="input-group mb-3">
                  <label for="">No. Celular</label>
                  <input
                    type="number"
                    class="input--style-3"
                    placeholder="No. Celular"
                    formControlName="celphone"
                    required
                    [ngClass]="{
                      'is-invalid':
                        invalidField('celphone') ||
                        (f.controls.celphone.invalid &&
                          f.controls.celphone.errors?.max) ||
                        (f.controls.celphone.invalid &&
                          f.controls.celphone.errors?.pattern)
                    }"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('celphone') &&
                      f.controls.celphone.errors?.required
                    "
                  >
                    Por favor ingrese su numero de celular
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.celphone.errors?.pattern"
                  >
                    Se encontraron caracteres invalidos
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.celphone.errors?.max"
                  >
                    El numero de celular no puede tener mas de 10 digitos
                  </span>
                </div>
                <!--chatId-->
                <div class="">
                  <i
                    class="fas fa-info m-1 pl-2 pr-2 pt-1 pb-1"
                    style="border-radius: 50%; background-color: azure"
                    (click)="this.infoClik()"
                  ></i>
                  <a [href]="this.urlBotChatId" target="_blank">Consultar id</a>
                </div>
                <div class="input-group mb-3">
                  <label for="">No. Id de Telegram</label>
                  <input
                    type="number"
                    class="input--style-3"
                    placeholder="No. Id de Telegram"
                    formControlName="chatId"
                    required
                    maxlength="20"
                    [ngClass]="{
                      'is-invalid':
                        invalidField('chatId') ||
                        (f.controls.chatId.invalid &&
                          f.controls.chatId.errors?.max) ||
                        (f.controls.chatId.invalid &&
                          f.controls.chatId.errors?.pattern)
                    }"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('chatId') &&
                      f.controls.chatId.errors?.required
                    "
                  >
                    Por favor ingrese su numero de de id de Telegram
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.chatId.errors?.pattern"
                  >
                    Se encontraron caracteres invalidos
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.chatId.errors?.maxLegth"
                  >
                    El id de Telegram no puede tener mas de 20 caracteres
                  </span>
                  <span
                    class="invalid-feedback"
                    *ngIf="f.controls.chatId.errors?.max"
                  >
                    El numero de id de Telegram no puede tener mas de 20 digitos
                  </span>

                  <a
                    (click)="probarConexionBot()"
                    class="btn btn-primary btn-block bg-principal mb-2"
                  >
                    Probar conexion con el bot
                  </a>
                </div>
                <!--Fecha de nacimiento-->
                <div class="form-group mb-3">
                  <div class="grid">
                    <div class="row">
                      <label for="born-date">Fecha de nacimiento</label>
                    </div>
                    <div class="row">
                      <p class="text-white">
                        {{ bornDate.value }}
                      </p>
                    </div>
                  </div>
                </div>
                <!--Pais-->
                <div class="input-group mb-3">
                  <select
                    type="text"
                    class="form-control"
                    placeholder="Pais"
                    formControlName="country"
                    required
                    (change)="this.countryChange()"
                    [ngClass]="{
                      'is-invalid': invalidField('country')
                    }"
                  >
                    <option value="" disabled selected>Pais</option>
                    <option
                      value="{{ country.iso2 }}"
                      *ngFor="let country of this.allCountrys"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('country') &&
                      f.controls.country.errors?.required
                    "
                  >
                    Por favor ingrese su Pais
                  </span>
                </div>
                <!--Estado-->
                <div
                  class="input-group mb-3"
                  *ngIf="this.country.value && this.allStates"
                >
                  <select
                    type="text"
                    class="form-control"
                    placeholder="state"
                    formControlName="state"
                    required
                    (change)="this.stateChange()"
                    [ngClass]="{
                      'is-invalid': invalidField('state')
                    }"
                  >
                    <option value="" disabled selected>Estado</option>
                    <option
                      value="{{ state.iso2 }}"
                      *ngFor="let state of this.allStates"
                    >
                      {{ state.name }}
                    </option>
                  </select>
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('state') && f.controls.state.errors?.required
                    "
                  >
                    Por favor ingrese su Estado
                  </span>
                </div>
                <!--Ciudad-->
                <div
                  class="input-group mb-3"
                  *ngIf="
                    this.country.value &&
                    this.allStates &&
                    this.state.value &&
                    this.allCities
                  "
                >
                  <select
                    type="text"
                    class="form-control"
                    placeholder="Ciudad"
                    formControlName="city"
                    required
                    [ngClass]="{
                      'is-invalid': invalidField('city')
                    }"
                  >
                    <option value="" disabled selected>Ciudad</option>
                    <option
                      value="{{ city.id }}"
                      *ngFor="let city of this.allCities"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('city') && f.controls.city.errors?.required
                    "
                  >
                    Por favor ingrese su Ciudad
                  </span>
                </div>
                <!--Genero-->
                <div class="input-group mb-3">
                  <select
                    type="text"
                    class="form-control"
                    placeholder="Genero"
                    formControlName="sex"
                    required
                    [ngClass]="{
                      'is-invalid': invalidField('sex')
                    }"
                  >
                    <option value="" disabled selected>Genero</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Otro">Otro</option>
                  </select>
                  <span
                    class="invalid-feedback"
                    *ngIf="
                      invalidField('sex') && f.controls.sex.errors?.required
                    "
                  >
                    Por favor ingrese su genero
                  </span>
                </div>
                <div class="p-t-10">
                  <button
                    class="btn btn-primary btn--pill bg-secundario"
                    type="submit"
                  >
                    Guardar
                  </button>
                </div>
              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3 mb-3">
      <div class="card-header">
        <div [hidden]="loading" class="row mb-2">
          <div class="col-12 col-sm-6 col-xl-3 mr-auto">
            <button
              class="btn btn-block bg-secundario"
              type="button"
              (click)="misSubscripciones()"
            >
              Mis subscripciones
            </button>
          </div>
          <div class="col-12 col-sm-6 col-xl-3 ml-auto">
            <input
              class="form-control"
              placeholder="Buscar"
              (keyup)="applyFilter($event)"
            />
          </div>
        </div>
      </div>
      <ng-container *ngIf="showSubscripciones">
        <div class="card-body" *ngIf="showSubscripciones">
          <div class="mat-table-container">
            <table
              [hidden]="loading"
              mat-table
              matSort
              matSortActive="position"
              matSortDirection="asc"
              [dataSource]="dataSource"
              class="mat-elevation-z8 matTable-table"
              multiTemplateDataRows
            >
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.position }}
                </td>
              </ng-container>

              <!-- Fecha Column -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Fecha compra
                </th>
                <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
              </ng-container>

              <!-- Estado Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Estado
                </th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-sm btn-warning mr-1"
                    (click)="
                      expandedElement =
                        expandedElement === element ? null : element
                    "
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td
                  mat-cell
                  *matCellDef="let element"
                  [attr.colspan]="displayedColumns.length"
                >
                  <div
                    class="example-element-detail"
                    [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    "
                  >
                    <ul class="pl-0">
                      <li class="py-2">
                        <span class="mx-2 text-muted"></span>
                        <strong class="mat-header-cell">Id del grupo:</strong>
                        {{ element.idGrupo }}
                      </li>

                      <li class="py-2">
                        <span class="mx-2 text-muted"></span>
                        <strong class="mat-header-cell">Precio:</strong>
                        {{ element.price | currency : "USD" }}
                      </li>

                      <li class="py-2">
                        <span class="mx-2 text-muted"></span>
                        <strong class="mat-header-cell">Metodo de pago:</strong>
                        {{ element.payMethod }}
                      </li>

                      <li class="py-2">
                        <span class="mx-2 text-muted"></span>
                        <strong class="mat-header-cell"
                          >Fecha de inicio:</strong
                        >
                        {{ element.beginTime }}
                      </li>

                      <li class="py-2">
                        <span class="mx-2 text-muted"></span>
                        <strong class="mat-header-cell">Fecha final:</strong>
                        {{ element.endTime }}
                      </li>
                    </ul>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: displayedColumns"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['expandedDetail']"
                class="example-detail-row"
              ></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td
                  class="mat-cell text-center"
                  [attr.colspan]="displayedColumns.length"
                >
                  No data matching the filter
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <mat-paginator
            [hidden]="loading"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </ng-container>
      <!-- /.card-footer-->
    </div>
  </section>
</div>

<ng-template #load>
  <app-sk-folding-cube></app-sk-folding-cube>
</ng-template>
