<div class="hold-transition login-page" style="height: 100%">
  <div class="register-box">
    <div class="card">
      <div class="card-body">
        <h2 class="login-box-msg font-weight-bold">Registrarte</h2>

        <form (ngSubmit)="onSubmit(f)" [formGroup]="f" autocomplete="on">
          <!--Tipo de usuario-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Tipo de cuenta"
              formControlName="type"
              required
              [ngClass]="{
                'is-invalid': invalidField('type')
              }"
            >
              <option value="" disabled>Tipo de cuenta</option>
              <option
                value="{{ tipo }}"
                *ngFor="let tipo of this.tipoDeUsuarios()"
              >
                {{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('type') && f.controls.type.errors?.required"
            >
              Por favor ingrese su tipo de cuenta
            </span>
          </div>
          <!--Nombre-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre completo"
              formControlName="name"
              required
              maxlength="50"
              [ngClass]="{
                'is-invalid':
                  invalidField('name') ||
                  (f.controls.name.invalid &&
                    f.controls.name.errors?.maxlength) ||
                  (f.controls.name.invalid && f.controls.name.errors?.pattern)
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="invalidField('name') && f.controls.name.errors?.required"
            >
              Por favor ingrese su nombre
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.name.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.name.errors?.maxlength"
            >
              El nombre no puede tener mas de 50 caracteres
            </span>
          </div>
          <!--Tipo de documento-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Tipo de documento"
              formControlName="document_type"
              required
              minlength="2"
              maxlength="3"
              [ngClass]="{
                'is-invalid': invalidField('document_type')
              }"
            >
              <option value="" disabled selected>Tipo de documento</option>
              <option
                value="{{ documentType.value }}"
                *ngFor="let documentType of this.documentsType"
              >
                {{ documentType.label }}
              </option>
            </select>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('document_type') &&
                f.controls.document_type.errors?.required
              "
            >
              Por favor ingrese su tipo de documento
            </span>
          </div>
          <!--Numero de documento-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="No. de documento"
              formControlName="document_value"
              required
              minlength="6"
              maxlength="10"
              [ngClass]="{
                'is-invalid':
                  invalidField('document_value') ||
                  f.controls.document_value.invalid
              }"
            />
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('document_value') &&
                f.controls.document_value.errors?.required
              "
            >
              Por favor ingrese su numero de documento
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.document_value.errors?.minlength"
            >
              El numero de documento no puede tener menos de 6 digitos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.document_value.errors?.maxlength"
            >
              El numero de documento no puede tener mas de 10 digitos
            </span>
          </div>
          <!--Correo-->
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Correo electronico"
              formControlName="email"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('email') &&
                  f.controls.email.invalid &&
                  f.controls.email.errors?.email
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="invalidField('email') && f.controls.email.errors?.required"
            >
              Por favor ingrese su correo
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.email.errors?.email"
            >
              El correo no es valido
            </span>
          </div>
          <!--Celular-->
          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="No. Celular"
              formControlName="celphone"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('celphone') ||
                  (f.controls.celphone.invalid &&
                    f.controls.celphone.errors?.max) ||
                  (f.controls.celphone.invalid &&
                    f.controls.celphone.errors?.pattern)
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('celphone') && f.controls.celphone.errors?.required
              "
            >
              Por favor ingrese su numero de celular
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.celphone.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.celphone.errors?.max"
            >
              El numero de celular no puede tener mas de 10 digitos
            </span>
          </div>

          <!--chatId-->
          <div class="">
            <i
              class="fas fa-info m-1 pl-2 pr-2 pt-1 pb-1"
              style="border-radius: 50%; background-color: azure"
              (click)="this.infoClik()"
            ></i>
            <a [href]="this.urlBotChatId" target="_blank">Consultar id</a>
          </div>
          <div class="input-group mb-3" *ngIf="this.type.value == 'usuario'">
            <input
              type="number"
              class="form-control"
              placeholder="No. Id de Telegram"
              formControlName="chatId"
              [ngClass]="{
                'is-invalid':
                  invalidField('chatId') ||
                  (f.controls.chatId.invalid &&
                    f.controls.chatId.errors?.max) ||
                  (f.controls.chatId.invalid &&
                    f.controls.chatId.errors?.pattern)
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fa-brands fa-telegram"></i>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('chatId') && f.controls.chatId.errors?.required
              "
            >
              Por favor ingrese su numero de id en Telegram
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.chatId.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.chatId.errors?.max"
            >
              El numero de id de telegram no puede tener mas de 20 digitos
            </span>

            <a
              (click)="probarConexionBot()"
              class="btn btn-primary btn-block bg-principal mb-2 mt-1"
            >
              Probar conexion con el bot
            </a>
          </div>

          <!--Fecha de nacimiento-->
          <div class="form-group mb-3">
            <label for="born-date">Fecha de nacimiento</label>
            <input
              id="born-date"
              name="born-date"
              type="date"
              class="form-control"
              placeholder="Fecha de nacimiento"
              formControlName="bornDate"
              required
              [ngClass]="{
                'is-invalid': invalidField('bornDate') || !mayor18Anios()
              }"
              [max]="this.fechaMinimaEdad"
            />
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('bornDate') && f.controls.bornDate.errors?.required
              "
            >
              Por favor ingrese su fecha de nacimiento
            </span>
            <span class="invalid-feedback" *ngIf="!mayor18Anios()">
              Debe ser mayor de 18 años para registrarse
            </span>
          </div>
          <!--Pais-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Pais"
              formControlName="country"
              required
              (change)="this.countryChange()"
              [ngClass]="{
                'is-invalid': invalidField('country')
              }"
            >
              <option value="" disabled selected>Pais</option>
              <option
                value="{{ country.iso2 }}"
                *ngFor="let country of this.allCountries"
              >
                {{ country.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('country') && f.controls.country.errors?.required
              "
            >
              Por favor ingrese su Pais
            </span>
          </div>
          <!--Estado-->
          <div
            class="input-group mb-3"
            *ngIf="this.country.value && this.allStatesByCountry"
          >
            <select
              type="text"
              class="form-control"
              placeholder="Estado"
              formControlName="state"
              required
              (change)="this.stateChange()"
              [ngClass]="{
                'is-invalid': invalidField('state')
              }"
            >
              <option value="" disabled selected>Estado</option>
              <option
                value="{{ state.iso2 }}"
                *ngFor="let state of this.allStatesByCountry"
              >
                {{ state.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('state') && f.controls.state.errors?.required"
            >
              Por favor ingrese su Estado
            </span>
          </div>
          <!--Ciudad-->
          <div
            class="input-group mb-3"
            *ngIf="
              this.country.value &&
              this.allStatesByCountry &&
              this.state.value &&
              this.allCities
            "
          >
            <select
              type="text"
              class="form-control"
              placeholder="Ciudad"
              formControlName="city"
              required
              [ngClass]="{
                'is-invalid': invalidField('city')
              }"
            >
              <option value="" disabled selected>Ciudad</option>
              <option value="{{ city.id }}" *ngFor="let city of this.allCities">
                {{ city.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('city') && f.controls.city.errors?.required"
            >
              Por favor ingrese su Ciudad
            </span>
          </div>
          <!--Genero-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Genero"
              formControlName="sex"
              required
              [ngClass]="{
                'is-invalid': invalidField('sex')
              }"
            >
              <option value="" disabled selected>Genero</option>
              <option value="Hombre">Hombre</option>
              <option value="Mujer">Mujer</option>
              <option value="Otro">Otro</option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('sex') && f.controls.sex.errors?.required"
            >
              Por favor ingrese su genero
            </span>
          </div>
          <!--Contraseña-->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password"
              required
              minlength="8"
              maxlength="128"
              [ngClass]="{
                'is-invalid': f.controls.password.errors
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('password') && f.controls.password.errors?.required
              "
            >
              Por favor ingrese su contraseña
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.password.errors?.pattern"
            >
              La contraseña debe tener al menos una letra Mayuscula, minuscula y
              un digito
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.password.errors?.minlength"
            >
              La contraseña debe tener minimo 8 caracteres
            </span>
          </div>
          <!--Contraseña verificar-->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Ingrese su contraseña nuevamente"
              formControlName="repeatPassword"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('repeatPassword') || !passwordCoincidence()
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('repeatPassword') &&
                f.controls.repeatPassword.errors?.required
              "
            >
              Por favor ingrese su contraseña
            </span>
            <span class="invalid-feedback" *ngIf="!passwordCoincidence()">
              La contraseña no coincide
            </span>
          </div>
          <div class="row">
            <!--Terminos y condiciones-->
            <div class="col-8">
              <div class="icheck-primary">
                <label for="agreeTerms">
                  Estoy de acuerdo con los <a href="#">terminos</a>
                </label>
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                  formControlName="terms"
                  required
                  [ngClass]="{
                    'is-invalid': invalidField('terms')
                  }"
                />
                <span
                  class="invalid-feedback"
                  *ngIf="
                    invalidField('terms') && f.controls.terms.errors?.required
                  "
                >
                  Por favor acepte los terminos y condiciones
                </span>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-block bg-secundario"
                [disabled]="f.invalid"
              >
                Registrar
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!--Metodos de registro-->
        <!--
        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Registrarme con Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Registrarme con Google+
          </a>
        </div>
        -->

        <a [routerLink]="['/login']" class="text-center">Ya tengo una cuenta</a>
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.register-box -->
</div>
