<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Cupos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Cupos</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content m-2">
    <div class="grid">
      <div class="row">
        <h4><strong> Modelo: </strong>{{ this.modelForRifa?.name }}</h4>
        <h4>
          <strong>Precio por cupo: </strong>
          {{ this.modelSubscriptionPrice | currency : "USD" }}
        </h4>
      </div>
      <!--Tipos de cupos-->
      <div class="row">
        <p class="font-weight-bold">Tipos de cupos</p>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <button
            type="button"
            class="btn btn-block btn-outline-success"
            disabled
          >
            <small>Disponible</small>
          </button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-block btn-danger" disabled>
            <small>Vendido</small>
          </button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-block btn-success" disabled>
            <small>Seleccionado</small>
          </button>
        </div>
      </div>
      <!--Listado de cupos-->
      <div class="row">
        <h3 class="font-weight-bold">Listado de cupos</h3>
      </div>
      <div class="row align-items-center">
        <div class="col-3 mb-3" *ngFor="let cupo of this.rifa?.listCupos">
          <!--Disponible-->
          <button
            type="button"
            class="btn btn-block btn-lg btn-outline-success"
            *ngIf="cupo.state == 'AVAILABLE'"
            (click)="this.changeCupoState(cupo)"
          >
            {{ cupo.id }}
          </button>
          <!--Seleccionado-->
          <button
            type="button"
            class="btn btn-block btn-lg btn-success"
            *ngIf="cupo.state == 'SELECT'"
            (click)="this.changeCupoState(cupo)"
            [disabled]="this.disabledPorSerDeOtroModelo(cupo)"
          >
            {{ cupo.id }}
          </button>
          <!--Vendido-->
          <button
            type="button"
            class="btn btn-block btn-lg btn-danger"
            *ngIf="cupo.state == 'SOLD'"
            disabled
          >
            {{ cupo.id }}
          </button>
        </div>
      </div>
      <div class="row">
        <h2 class="font-weight-bold">
          Total:
          {{
            this.modelSubscriptionPrice * this.cuposSeleccionadosEnPagina.length
              | currency : "USD"
          }}
        </h2>
      </div>

      <div
        class="row"
        *ngIf="
          this.cuposSeleccionadosEnPagina &&
          this.cuposSeleccionadosEnPagina.length > 0
        "
      >
        <button
          type="button"
          class="btn btn-block btn-lg bg-red mb-3"
          (click)="this.comprar()"
        >
          Comprar
        </button>
      </div>
    </div>
  </section>
</div>
